body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.header-content {
  position: relative;
  width: 100%;
  padding-top: 33.33%; /* Aspect ratio 1:3 */
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 35px;
  transform: translateY(-50%);
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.left-content {
  flex: 1;
  padding: 20px;
}

.right-content {
  flex: 1;
  padding: 20px;
}

.left-content p {
  font-size: 16px;
}

.left-content a {
  display: block;
  margin-top: 20px;
  color: blue;
  text-decoration: underline;
}

.left-content a:hover {
  color: red;
}

.left-content h2 {
  margin-top: 20px;
}

.left-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-content li {
  margin-bottom: 10px;
}
