body {
   background-color: whitesmoke;
   margin: 0;
   padding: 10px;
}

header {
   background-image: url('vortex_shedding.svg');
   background-size: cover;
   background-position: center;
   height: 200px; /* Altezza dell'header */
   color: white; /* Colore del testo */
   text-align: right;
   padding: 50px 0; /* Spazio interno all'header */
   
}

/* Stile per la scritta al centro */
.header-text {
   font-size: 30px;
   font-weight: light;
   font-family: Arial, Helvetica, sans-serif;
   padding-right: 150px;
}

.link_header{
   font-weight: bold;
}

#link_header a {
   color: white; /* Colore del testo dei link */
   text-decoration: none; /* Sottolineatura */
}

#link_header a:hover{
   color: whitesmoke;
}


.main_menu {
   padding: 5px 0 5px 0;
   text-align: center;
   line-height: 32px;
   border-bottom: 1px solid #c6c5b9;
}

ul.main_menu{
   margin-top: 15px;
}

.main_menu li{
   display: inline;
   padding: 0 22px 0 22px;
   font-size: 16px;
   color: #393d3f
}

.main_menu a {
   text-decoration: none;
   color: #393D3F;
   padding: 8px;
   font-family: Arial, Helvetica, sans-serif;
}

.main_menu a:hover {
   color: #62929e;
}

.text-container {
   grid-area: text-container;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: normal;
   color: #393d3fff;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-right: 15px;
   
}

.bio{
   margin-top: -20px;
}

span{
   font-weight: bolder;
}

.profile-container {
   grid-area: profile-container;
 
   text-align: right;
   display: grid;
   grid-template-rows: auto 1fr; /* Allinea l'immagine in alto */
   justify-items: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: lighter;
   color: #393d3fff;

}

p {
   margin-bottom: 0.5em; /* Imposta il margine inferiore a 0.5em (50% dello spazio predefinito tra i paragrafi) */
   line-height: 1.3;
}

.social {
   display: flex;
   align-items: flex-start; /* Allinea i social all'inizio della riga */
   padding: 10px;
   margin-left: -20px;
}

ul.social{
   margin-top: 15px;
   
}

.social li{
   display: inline;
   font-size: 16px;
   padding-right: 22px;
}


.social a {
   text-decoration: none;
   color: #393D3F;
   padding: 8px;
   font-family: Arial, Helvetica, sans-serif;
}

.social a:hover {
   color: #62929e;
}

ul.languages{
   padding-top: 10px;
   border-top: 1px solid #c6c5b9;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "text-container profile-container"
        "footer footer";
    justify-content: center;
    grid-column-gap: 20px; /* Imposta la spaziatura tra le colonne (puoi personalizzare il valore) */
    padding-left: 10px;
    padding-right: 10px;
}


/*.publications{
   display: grid;
   text-align: left;
   justify-content: right;
   padding: 10px;
   background-color: aqua;
}
*/

.article-column {
   display: flex;
   flex-direction: column;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: normal;
   color: #393d3fff;
}

.image-column {
   display: flex;
   align-items: right;
   flex-direction: column;
   margin-top: 200px;
}

.conferences-column{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: normal;
   color: #393d3fff;
}

img {

   
   height: auto;
   margin-left: auto; /* Allinea l'immagine a destra */
}



li {
   
   padding-bottom: 10px;
   align-items: left;

}

#msg {
   border-bottom: 2px solid #c6c5b9ff;
}


/* Stile di base per i link non visitati */
a {
   color: #62929e; /* Colore del testo dei link */
   text-decoration: none; /* Sottolineatura */
}

/* Stile dei link al passaggio del mouse (hover) */
a:hover {
   color: #62929e; /* Colore del testo dei link al passaggio del mouse */
   text-decoration: none; /* Rimuovi la sottolineatura al passaggio del mouse */
}


/* Stile dei link attivi (quando il link è cliccato) */
a:active {
   color: #62929e; /* Colore del testo dei link attivi */
   font-weight: bold; /* Testo in grassetto quando il link è cliccato */
}

#wrapper{
   max-width: 960px;
   margin: 0 auto;
   border: 1px solid #c6c5b9;
   padding: 10px;
}

#myresearch{
   text-align: center;
   color: #393d3fff;
   font-family: Arial, Helvetica, sans-serif;
   
}

.container-research {
   display: grid;
   grid-template-columns: 1fr;
   grid-row-gap: 20px;
   justify-content: center;
}

.content-research {
   text-align: center;
   
}

#didascalia{
   text-align: center;
   margin-top: 0;
   font-style: italic;
   color: #546a7bff;
}

#text{
   text-align: left; /* or justified */ 
   font-family: Arial, Helvetica, sans-serif;
   color: #393d3fff;;
}
